* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 720px;
    height: 900px;
    margin: 0 auto;
    border: 3px dashed orange;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
}

header nav {
    height: 60px;
}

header nav .mainmenu {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    /* background-color: gray; */
}

/* 메인메뉴 */
header nav .mainmenu>li {
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    border: 1px dashed orange;
}

header nav .mainmenu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}


header nav .mainmenu > li:hover {
    background-color: royalblue;
}

header nav .mainmenu > li:hover > a{
    color: white;
}


/* 
    메인메뉴에 마우스 호버 시, 서브메뉴 출력
*/
header nav .mainmenu > li:hover .submenu {
    display: inherit;
}

/* 서브메뉴 */
header nav .submenu {
    display: none;
}

header nav .submenu li {
    background-color: #ddd;
}

header nav .submenu li:hover {
    background-color: royalblue;
}

header nav .submenu li:hover a {
    color: white;
}




























